
 body {
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
    padding: 3rem; 
    background-color: black;
}


.heading {
    color:$color-white;
    margin-bottom: 1rem; 
    &--main {
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 3.5rem;
      font-size: 6.0rem;
      animation-name: moveInright;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
    &--sub {
      display: block;
      font-weight: 700;
      letter-spacing: 1.75rem;
      font-size: 2.0rem;
      animation-name: moveInleft;
      animation-duration: 1s;
      animation-timing-function: ease-in; }
    }
  